.container{
    margin-top: 100px;
    margin-bottom: 100px;
} 
.content input{
    margin-left: 30px;
    height: 30px;
    width: 300px;
    border-color: rgb(218, 214, 214);
    border-radius: 5px;
    border-style: ridge;
}  

mat-card{
    width: 100%; 
    margin-left: 10px;
    background-color: rgb(255, 255, 255); /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(255, 255, 255), rgb(252, 218, 218));
}
.div {
    display: inline-flex;
    margin-left: 30px;
} 
mat-label{
    margin-left: 30px;
    font-weight: bold;
} 
.hover-border {
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
  }
  
.hover-border:hover {
    border-color: rgb(190, 32, 32);
  } 

h1 {
    margin-top: 10px;
    margin-left: 10px; 
    color: rgb(103, 103, 221);
  }
button{
    margin-top: 20px;
    margin-left: 380px;
  }
