/* popup.component.css */

.close {
    float: right;
    cursor: pointer;
  }
  /* card.component.css */

  .card-content {
      justify-content: center;
      color:  rgb(16, 107, 150);
      text-align: center; 
      align-items: center;
  }
