<app-header> 
</app-header> 
<!--report page-->  
  <div class="main-container" fxLayout="row" fxLayoutAlign="space-between center"  >
     <div fxFlex="30">
        <mat-card class="first-card" >
            <div class="container">
              <div class="reportGroup">
            <span>Report Group:</span> 
              </div> 
              <div class="selectgroup">
    <select id="group" >
     <option value="" style="text-align: center;">--Select Group--</option>
     <option value="Firearms">Firearms</option>
     <option value="Civilians">Civilians</option>
     <option value="Officers">Officers</option>
    
    </select>
              </div> 
              <div class="goBUtton">
                 <Button mat-button style="height: 30px;">Go</Button>
              </div>
            </div>
         </mat-card>
             <br>
    
    <mat-card class="second-card">
         <h3>FIREARMS REPORTS </h3>
     <button mat-button>01, Number of Firearms Aggregated by Account</button>
     <button mat-button>02, Number of Firearms Aggregated by Account</button>
     <button mat-button>03, Number of Firearms Aggregated by Account</button>
     <button mat-button>04, Number of Firearms Aggregated by Account</button>
     <button mat-button>05, Number of Firearms Aggregated by Account</button>
     <button mat-button>06, Number of Firearms Aggregated by Account</button>
     <button mat-button>07, Number of Firearms Aggregated by Account</button>
     <button mat-button>08, Number of Firearms Aggregated by Account</button>
     <button mat-button>09, Number of Firearms Aggregated by Account</button>
     <button mat-button>10, Number of Firearms Aggregated by Account</button>
     <button mat-button>11, Number of Firearms Aggregated by Account</button>
     <button mat-button>12, Number of Firearms Aggregated by Account</button>
     <button mat-button>13, Number of Firearms Aggregated by Account</button>
    </mat-card>  
     </div>

<div class="visual" fxFlex="70">
    <h1>Reporting And Visualization</h1> 
    <h2>Number of firearms aggregated by account</h2> 
    <p>This Reports Shows number of firearms aggregated by account. number of firearms(y-axis) id Plotter against of account. 
        the number fo firearms is derived by performing a count of total of items ineach of markinng month group</p>
        <div  fxLayout="row" >
            <div> 
                <mat-card>
                 
                    Pie chat will be here 
                   
                </mat-card>
             
            </div>
            <div >
                <mat-card >
                 
                    Bar chat will be here 
                   
                </mat-card>
            </div>
        </div>

</div>
  </div>


 
          
          
              
         

    

   
      
        
  


    
      