<app-header></app-header>
    
<mat-tab-group style=" width: 79%; justify-content: center; ">
  <!---general-->  
  <mat-tab label="General">
        <mat-card style=" width: 100%; "> 
      <div class="container">

        <div class="content">
         <mat-card>First Name</mat-card>
         <mat-card>MiddleName</mat-card>
         <mat-card>Last Name</mat-card>
         <mat-card>FPID</mat-card>
        </div>

        <div class="value">
          <mat-card>Abraham</mat-card>
          <mat-card>Shiferaw</mat-card>
          <mat-card>Girma</mat-card>
          <mat-card>0704/12</mat-card>

        </div> 
        <div class="image">
                <img src="/assets/OIP.jpg" alt="profile image">
        </div> 
        <div class="account_info">
        <a href="/change-password"><button mat-raised-button style="margin-right: 10px;">Change Password</button></a> 
          <br>
          <br>
          <br>
          <br>
         <a href="/account-info"><button mat-raised-button style="width: 200px; margin-right: 10px;">Change Account Info</button></a> 
        </div>
      </div>
      
      
    </mat-card>
      
      
    

    </mat-tab>
 
  <!---Job Definition-->  
    <mat-tab label="Job Definition ">
      <mat-card style="width: 100%;"> 
        <div class="container">
  
          <div class="content">
           <mat-card>Job</mat-card>
       
           
           <mat-card>Unit</mat-card>
          
          </div>
  
          <div class="value">
            <mat-card>Firearm Management Officer</mat-card>
          
            <mat-card>Officer</mat-card>
            
  
          </div> 
          <div class="image">
                  <img src="/assets/OIP.jpg" alt="profile image">
          </div> 
          <div class="account_info">
            <button mat-raised-button href="/change-password">Change Password</button>
            <br>
            <br>
            <br>
            <br>
            <button mat-raised-button href="/account-info" style="width: 200px; margin-right: 10px;">Change Account Info</button>
          </div>
        </div>
        
        
      </mat-card>
      
  
      
      </mat-tab>


    <mat-tab label="Contact Info">
      <mat-card style="width: 100%;"> 
        <div class="container">
  
          <div class="content">
           <mat-card>Telephone</mat-card>
           <mat-card>Extension</mat-card>
           <mat-card>Mobile</mat-card>
           <mat-card>Email</mat-card>
           <mat-card>Address</mat-card>
           <mat-card>Town</mat-card>
           <mat-card>Country</mat-card>
          </div>
  
          <div class="value">
            <mat-card>0111234567</mat-card>
            <mat-card>1553</mat-card>
            <mat-card>0911324323</mat-card>
            <mat-card>example@gmail.com</mat-card>
            <mat-card>Ethiopia</mat-card>
            <mat-card>Adiss Ababa</mat-card>
            <mat-card>Ethioipa</mat-card>
          </div> 
          
          <div class="image">
                  <img src="/assets/OIP.jpg" alt="profile image">
          </div> 
          <div class="account_info">
            <button mat-raised-button href="/change-password">Change Password</button>
            <br>
            <br>
            <br>
            <br>
            <button mat-raised-button href="/account-info" style="width: 200px; margin-right: 10px;">Change Account Info</button>
          </div>
        </div>
        
        
      </mat-card>
      </mat-tab>
    <mat-tab label="Login Information">

      <mat-card style="width: 100%;"> 
        <div class="container">
  
          <div class="content">
           <mat-card>Account Type</mat-card>
           <mat-card>Login Picture</mat-card>
           <mat-card>Username</mat-card>
           <mat-card>Status</mat-card>
          </div>
  
          <div class="value">
            <mat-card>Users</mat-card>
            <mat-card>Bulb.png</mat-card>
            <mat-card>ab</mat-card>
            <mat-card>Active</mat-card>
          </div> 
          <div class="image">
                  <img src="/assets/OIP.jpg" alt="profile image">
          </div> 
          <div class="account_info">
            <button mat-raised-button href="/change-password">Change Password</button>
            <br>
            <br>
            <br>
            <br> 
            <button mat-raised-button href="/account-info" style="width: 200px; margin-right: 10px;">Change Account Info</button>
          </div>
        </div>
        
        
      </mat-card>
    
    
    
    
    
    </mat-tab>
  
  </mat-tab-group>
  