.container{
    display: inline-flex;
    height: 250px;
    margin-bottom: 500px;
}
.content {
    display: block;
    width: auto;
    height: 30px;
    margin:10px 10px 10px 10px;
}
.value {
    display: block;
    width: 700px;
    height: 30px;
    margin:10px 10px 10px 0px;
}
.image img{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 30px;
} 
.value mat-card{
    margin-top: 1px;
    height: 30px;
    justify-content: center;
} 
.content mat-card{
    margin-top: 1px;
    margin-top: 2px;
    height: 30px;
    justify-content: center; 
    background-color: rgb(231, 232, 233); 
    font-size: 12px; 
    width: 100px;
} 
.account_info {
    margin-left: 30px;
    margin-top: 10px;
     
} 
.account_info a button:hover{
  background-color: #ccc;
  color: #3a3838;
} 

