<app-header></app-header>

    <nav class="navbar ">
      <div class="container-fluid">
        <h2 style="color: #9e9d9d; margin-left: 30px; margin-top: 10px;">Access Control Management</h2>
      </div>
    </nav>
    
    <br>
    <br>
     <mat-card>  <br>

    <div class="container"> 
      

&nbsp;&nbsp;&nbsp;


   <div class="search">
        <input type="text" placeholder="Search here" style="margin-right: 0px; height: 20px;"> 
        <button mat-button type="button" style="height: 25px;">Go</button>
   </div> 

  </div>
   <br>
   <div class="row">
      <select id="account" class="form-control" style="background-color: #CCC; height: 30px;">
        <option value="">Select Account</option>
        <option value="Abebech Akale">Abebech Akale </option>
        <option value="Almaz Endale">Almaz Endale </option>
        <option value="Ashenafi Assefa">Ashenafi Assefa </option>
        <option value="Dagmawit Yibabe">Dagmawit Yibabe </option>
        <option value="Deme Geto">Deme Geto </option>
        <option value="Gemechis Daba">Gemechis Daba </option>
        <option value="Jean Claude">Jean Claude </option>
        <option value="Mulugeta Belayneh">Mulugeta Belayneh </option>
        <option value="Nebiyu Aliyu">Nebiyu Aliyu </option>
        <option value="System Administrator">System Administrator </option>
        <option value="Tadesse Alemu">Tadesse Alemu </option>
        <option value="Tesfaye Chufa">Tesfaye Chufa </option>
        <option value="Teshale Duketo">Teshale Duketo </option>
        <option value="Test1 Test1">Test1 Test1 </option>
        <option value="Tester Tester">Tester Tester </option>
        <option value="Yemane Desalegn">Yemane Desalegn </option>
        <option value="Yidnekachew Megersa">Yidnekachew Megersa </option>
      </select>
    </div>
    <br>
   </mat-card>
    <br>
    <mat-paginator [length]="10"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25]"
              aria-label="Select page">
</mat-paginator>
<table class="table table-bordered"> 
  <thead style=" background-color: #f1f1f1; color: rgb(58, 57, 57); font-size: 12px;">
      <tr>
        <th scope="col">DATE</th>
        <th scope="col">TABLE</th>
        <th scope="col">RECORD</th>
        <th scope="col">ACTION</th>
        <th scope="col">ACCOUNT</th>
        <th scope="col">LOGIN COMPUTER</th>
        <th scope="col"> </th>
      </tr>
    </thead>

    <tbody>
        <tr>
            <td>23 Jun 2023</td>
            <td>Permission</td>
            <td> 1,2,3</td>
            <td>Modified</td>
            <td>Dagmawit Yibabe</td>
            <td>User: Dagi(10013) Ip:192.168.9.236</td>
            <td><mat-icon class="menu-icon">menu</mat-icon></td>
        </tr>

        <tr>
            <td>23 Jun 2023</td>
            <td>Employee</td>
            <td>Dagmawit Tsegaye Yibabe</td>
            <td>Modified</td>
            <td>sample text</td>
            <td>User: Tydet2014(10011) Ip:192.168.9.196</td>
            <td><mat-icon class="menu-icon">menu</mat-icon></td>
        </tr>

        <tr>
            <td>23 Jun 2023</td>
            <td>Firearm</td>
            <td>2345</td>
            <td>Added To Queue: Pending Loss Report</td>
            <td>Dagmawit Yibabe</td>
            <td>User: Dagi(10013) Ip:192.168.9.236</td>
            <td><mat-icon class="menu-icon">menu</mat-icon></td>
        </tr>

        <tr>
            <td>23 Jun 2023</td>
            <td>Firearm</td>
            <td> 1234</td>
            <td>Added To Queue: Pending Transfer</td>
            <td>Dagmawit Yibabe</td>
            <td>User: Dagi(10013) Ip:192.168.9.236</td>
            <td><mat-icon class="menu-icon">menu</mat-icon></td>
        </tr>

        <tr>
            <td>23 Jun 2023</td>
            <td>Firearmactivity</td>
            <td> - </td>
            <td>Added</td>
            <td>Dagmawit Yibabe</td>
            <td>User: Dagi(10013) Ip:192.168.9.236</td>
            <td><mat-icon class="menu-icon">menu</mat-icon></td>
        </tr>

        
            <tr>
                <td>23 Jun 2023</td>
                <td>Firearm</td>
                <td> 1234</td>
                <td>Insert</td>
                <td>Dagmawit Yibabe</td>
                <td>User: Dagi(10013) Ip:192.168.9.236</td>
                <td><mat-icon class="menu-icon">menu</mat-icon></td>
            </tr>

            <tr>
                <td>20 Jun 2023</td>
                <td>Firearmactivity</td>
                <td> - </td>
                <td>Added</td>
                <td>dagmawit yibabe</td>
                <td>User: Tesfaye(10017) Ip:192.168.4.240</td>
                <td><mat-icon class="menu-icon">menu</mat-icon></td>
            </tr>

            <tr>
                <td>20 Jun 2023</td>
                <td>Firearm</td>
                <td>23456</td>
                <td>Insert</td>
                <td>Tesfaye Chufa</td>
                <td>User: Tesfaye(10017) Ip:192.168.4.240</td>
                <td><mat-icon class="menu-icon">menu</mat-icon></td>
            </tr>

            <tr>
                <td>19 Jun 2023</td>
                <td>Firearmactivity</td>
                <td> - </td>
                <td>Added</td>
                <td>dagmawit yibabe</td>
                <td>User: Tesfaye(10017) Ip:192.168.4.240</td>
                <td><mat-icon class="menu-icon">menu</mat-icon></td>
            </tr>
               
    </tbody>
</table>
