<app-banner></app-banner>
<mat-toolbar>
  <img 
    class="toggle-btn"
    mat-icon-button
    (click)="sidenav.toggle()"
    src="assets/flogo.png"
    alt="logo"
    style="width: 60px; height: 60px; cursor: pointer;"
  />

  <app-modal></app-modal>
</mat-toolbar> 


<mat-sidenav-container class="sidenav-container">
  <!-- Side Navigation (App Header) -->
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <app-header></app-header>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Your dashboard content here -->
    <!-- Include the main content of your dashboard -->
    <nav class="navbar">
      <br />
    </nav>
    <div class="container-for-siderbtn-and-heading">
      <p>System User Account</p>
    </div>
    <br />
    <br /> 


    <div class="btn">
      <button mat-button class="add-button" type="button" (click)="openUserModal()">
        <mat-icon>add</mat-icon>
        Add System User
      </button>
    </div> 


    <br />
    <br />
    <br />
    <mat-card>
      <br />
      <div class="btn1">
        <input type="text" placeholder="Search here" style="margin-right: 5px" />
      </div>

      <br />
      <br />
      <br /> 
      
      <div class="row">
        <div class="select-wrapper col-md-3" style="width: 195px">
          <select mat-select id="accountType" class="form-control">
            <option mat-option value="">Select Account Type</option>
            <option value="Administrators">Administrators</option>
            <option value="Supervisors">Supervisors</option>
            <option value="Users">Users</option>
          </select>
        </div>
    
        <div class="select-wrapper col-md-3" style="width: 195px">
          <select id="department" class="form-control">
            <option value="">Select Department</option>
            <option value="Main Department">Main Department</option>
          </select>
        </div>
    
        <div class="select-wrapper col-md-3" style="width: 195px">
          <select id="unit" class="form-control">
            <option value="">Select Unit</option>
            <option value="Regular>Patrol">Regular>Patrol</option>
            <option value="Regular>Rapid Response">Regular>Rapid Response</option>
            <option value="Regular>Traffic">Regular>Traffic</option>
            <option value="Special Squad>Cyber Crime Unit">
              Special Squad>Cyber Crime Unit
            </option>
            <option value="Special Squad>Firearms">Special Squad>Firearms</option>
            <option value="Special Squad>Homicide">Special Squad>Homicide</option>
          </select>
        </div>
        <br />
        <div class="select-wrapper col-md-3" style="width: 195px">
          <select id="organization" class="form-control">
            <option value="">Select Organization</option>
            <option value="The National Police">The National Police</option>
          </select>
        </div>
    
        <div class="select-wrapper col-md-3" style="width: 195px">
          <select id="jobgroup" class="form-control">
            <option value="">Select Jobgroup</option>
            <option value="Inspector">Inspector</option>
            <option value="Constable">Constable</option>
            <option value="Special Agents">Special Agents</option>
            <option value="Border Patrol Agents">Border Patrol Agents</option>
          </select>
        </div>
    
        <div class="select-wrapper col-md-3" style="width: 195px">
          <select id="joblevel" class="form-control">
            <option value="">Select Joblevel</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
    
        <div class="select-wrapper col-md-3" style="width: 195px">
          <select id="job" class="form-control">
            <option value="">Select Job</option>
            <option value="Firearm Management Officer">
              Firearm Management Officer
            </option>
          </select>
        </div>
     <br>
        <div class="select-wrapper col-md-3" style="width: 195px">
          <select id="jobstep" class="form-control">
            <option value="">Select Jobstep</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
      </div>
    </mat-card>
    <br />
    
    <mat-table [dataSource]="dataSource" class="custom-table" mat-table>
      <!-- REF# Column -->
      <ng-container matColumnDef="REF#">
        <th mat-header-cell *matHeaderCellDef>REF#</th>
        <td mat-cell *matCellDef="let element">
          {{ element["REF#"] }} <span>#REF</span> {{ element["Id"] }}
        </td>
      </ng-container>
    
      <!-- NAME Column -->
      <ng-container matColumnDef="NAME">
        <th mat-header-cell *matHeaderCellDef>NAME</th>
        <td mat-cell *matCellDef="let element">
          {{ element.NAME }}
          <div class="sub-text"> 
            <span>Fullname: </span>
            {{ element.firstname }} {{ element.middlename }} {{ element.lastname }} <br />
            <span>EFP-ID: </span>{{ element.efpid }}
          </div>
        </td>
      </ng-container>
    
      <!-- UNIT Column -->
      <ng-container matColumnDef="UNIT">
        <th mat-header-cell *matHeaderCellDef>UNIT</th>
        <td mat-cell *matCellDef="let element"> 
          <span>Unit</span>
          {{ element.UNIT }}
          <div class="sub-text">{{ element.unit }}</div>
        </td>
      </ng-container>
    
      <!-- JOB Column -->
      <ng-container matColumnDef="JOB">
        <th mat-header-cell *matHeaderCellDef>JOB</th>
        <td mat-cell *matCellDef="let element">
          {{ element.JOB }}
          <div class="sub-text"> <span>Job :</span>{{ element.job }}</div>
        </td>
      </ng-container>
    
      <!-- ACCOUNT TYPE Column -->
      <ng-container matColumnDef="ACCOUNT TYPE">
        <th mat-header-cell *matHeaderCellDef>ACCOUNT DETAIL</th>
        <td mat-cell *matCellDef="let element">
          {{ element["ACCOUNT TYPE"] }}
          <div class="sub-text"> 
            <span>Account Type :</span>  {{ element.accounttype }} <br>
            <span>Login Icon :</span>{{ element.Loginicon }} <br /> 
            <span>Username: </span> {{ element.username }} <br />
          </div>
        </td>
      </ng-container>
      <!-- Define more columns similarly -->
      <ng-container matColumnDef="ACTION">
        <th mat-header-cell *matHeaderCellDef>ACTION</th>
        <td mat-cell *matCellDef="let element">
           
          <div class="action-buttons">
            <button >
              <a style="text-decoration: none; color: inherit;">
                <span><mat-icon style="color: green;">edit</mat-icon>Edit</span>
              </a>
            </button>
            <br />
            <button>
              <a style="text-decoration: none; color: inherit;">
                <span><mat-icon style="color: red;">delete</mat-icon>Delete</span>
              </a>
            </button>
            
          </div>
          
        </td>
      </ng-container>  

      <ng-container matColumnDef="STATUS">
        <th mat-header-cell *matHeaderCellDef>STATUS</th>
        <td mat-cell *matCellDef="let element">
           
            <mat-slide-toggle>Slide me!</mat-slide-toggle>
            
            
          
          
        </td>
      </ng-container> 
    
      <!-- Table Header Row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- Table Data Row -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </mat-table>
    
      
  </mat-sidenav-content>
</mat-sidenav-container>

















































<!--    
    <th scope="col">REF#</th>
        <th scope="col">NAME</th>
        <th scope="col">UNIT</th>
        <th scope="col">JOB</th>
        <th scope="col">JOBTYPE</th>
        <th scope="col">ACCOUNT TYPE</th>
        <th scope="col">STATUS</th>
        <th scope="col">MANAGE</th>
        <th scope="col"> </th>
  -->
