<app-navregister></app-navregister>
    <mat-card style="height: 1150px; background-color: white; margin-right: 5px;">
  <h1 style="color:  #0c2a4c;" > Distruction Confirmation Queue</h1>
  <div class="container">  
       
<div class="destruction-box">
  
       
  
  <form [formGroup]="confirmdestructionForm"(ngSubmit)="onSubmit()">
    <div>
      <h2 style="color:  #0c2a4c">Firearm Distruction Authorization</h2>
      <p > To complete the transfer of firearms listed alongside,Kindly fill all the information in this form.When satisfied,that all the details are correct ,click on the <strong>"CONFIRM DISTRUCTION" </strong>button below</p>
      <hr>
    </div>
    <mat-card style="height:90px; background: linear-gradient(to top, #ed9a9a, #f9f9f9);">
      <img style="width: 70px; margin-top: 10px;" src="assets/warning.png" class="img-warn" alt="warn">
       <p style="margin-left: 70px;margin-top: -60px; " >Please Note:Once you click on the "CONFIRM DISTRUCTION" button below,the firearms listed will be marked as destroyed.This procedure is<strong style="color:red">&nbsp;NOT REVERSABLE</strong></p>
    </mat-card>
 <br>
    
    <div class="user-box">
      <br>
      <br>
      <input type="date" name="" required="" value=""formControlName="destructiondate"[class.invalid]="confirmdestructionForm.get('destructiondate')?.invalid &&( confirmdestructionForm.get('destructiondate')?.dirty||confirmdestructionForm.get('destructiondate')?.touched||isSubmitted)">
      <label>Distruction Date: <span *ngIf="confirmdestructionForm.get('destructiondate')?.invalid &&( confirmdestructionForm.get('destructiondate')?.dirty||confirmdestructionForm.get('destructiondate')?.touched||isSubmitted)"class="error" style="color: rgb(236, 114, 114);"><mat-icon >info</mat-icon>&nbsp;Fillout the following information its required </span></label>
      
  </div>
  <div class="user-box">
    <input type="text" name="" required="" value=""formControlName="venue"[class.invalid]="confirmdestructionForm.get('venue')?.invalid &&( confirmdestructionForm.get('venue')?.dirty||confirmdestructionForm.get('venue')?.touched||isSubmitted)">
    <label>Venue: <span *ngIf="confirmdestructionForm.get('venue')?.invalid &&( confirmdestructionForm.get('venue')?.dirty||confirmdestructionForm.get('venue')?.touched||isSubmitted)"class="error" style="color:  rgb(236, 114, 114);"><mat-icon >info</mat-icon>&nbsp;Fillout the following information its required </span></label>
    
  </div>
  <div class="user-box">
    <input type="text" name="" required=""formControlName="destructionrequestedby"[class.invalid]="confirmdestructionForm.get('destructionrequestedby')?.invalid &&( confirmdestructionForm.get('destructionrequestedby')?.dirty||confirmdestructionForm.get('destructionrequestedby')?.touched||isSubmitted)">
    <label>Destruction Requested By: <span *ngIf="confirmdestructionForm.get('destructionrequestedby')?.invalid &&( confirmdestructionForm.get('destructionrequestedby')?.dirty||confirmdestructionForm.get('destructionrequestedby')?.touched||isSubmitted)"class="error" style="color:  rgb(236, 114, 114)"><mat-icon >info</mat-icon>&nbsp;Fillout the following information its required</span></label>
    
  </div>
  <div class="user-box">
    <input type="text" name="" required="" formControlName="reasonfordestruction"[class.invalid]="confirmdestructionForm.get('reasonfordestruction')?.invalid &&( confirmdestructionForm.get('reasonfordestruction')?.dirty||confirmdestructionForm.get('reasonfordestruction')?.touched||isSubmitted)">
    <label>Reason For Destruction: <span *ngIf="confirmdestructionForm.get('reasonfordestruction')?.invalid &&( confirmdestructionForm.get('dreasonfordestruction')?.dirty||confirmdestructionForm.get('reasonfordestruction')?.touched||isSubmitted)"class="error" style="color:  rgb(236, 114, 114)"><mat-icon >info</mat-icon>&nbsp;Fillout the following information its required </span></label>
    
  </div>
  <div class="user-box">
    <input type="text" name="" required=""formControlName="authorizedby"[class.invalid]="confirmdestructionForm.get('authorizedby')?.invalid &&( confirmdestructionForm.get('authorizedby')?.dirty||confirmdestructionForm.get('authorizedby')?.touched||isSubmitted)">
    <label>Authorized By: <span *ngIf="confirmdestructionForm.get('authorizedby')?.invalid &&( confirmdestructionForm.get('authorizedby')?.dirty||confirmdestructionForm.get('authorizedby')?.touched||isSubmitted)"class="error" style="color:  rgb(236, 114, 114)"><mat-icon >info</mat-icon>&nbsp;Fillout the following information its required </span></label>
    
  </div>
  <div class="user-box">
    <input type="number" name="" required=""formControlName="referencenumber"[class.invalid]="confirmdestructionForm.get('referencenumber')?.invalid &&( confirmdestructionForm.get('referencenumber')?.dirty||confirmdestructionForm.get('referencenumber')?.touched||isSubmitted)">
    <label>Reference Number:  <span *ngIf="confirmdestructionForm.get('referencenumber')?.invalid &&( confirmdestructionForm.get('referencenumber')?.dirty||confirmdestructionForm.get('referencenumber')?.touched||isSubmitted)"class="error" style="color: rgb(236, 114, 114)"><mat-icon >info</mat-icon>&nbsp;Fillout the following information its required </span></label>
   
  </div>
  <div class="user-box">
    <br>
    <br>
    <input type="date" name="" required="" value=""formControlName="authorizationdate"[class.invalid]="confirmdestructionForm.get('authorizationdate')?.invalid &&( confirmdestructionForm.get('authorizationdate')?.dirty||confirmdestructionForm.get('authorizationdate')?.touched||isSubmitted)">
    <label>Authorization Date: <span *ngIf="confirmdestructionForm.get('authorizationdate')?.invalid &&( confirmdestructionForm.get('authorizationdate')?.dirty||confirmdestructionForm.get('authorizationdate')?.touched||isSubmitted)"class="error" style="color:  rgb(236, 114, 114)"><mat-icon >info</mat-icon>&nbsp;Fillout the following information its required </span></label>
    
</div>
  <label>
<p>Issued/Transfered By:-&nbsp;&nbsp; <strong>System Administrator</strong> </p>
</label>
<br>
<br>
    
     <button mat-raised-button style="text-transform: uppercase;color:  rgb(70, 69, 69);font-size: 12px; position: absolute; right: 0; margin-right: 10px;" type="submit" > Confirm Distruction</button>
    
    <br>
    <br>
      <br>
<mat-card style="height:50px; background: linear-gradient(to top, #e6c774, #f9f9f9);">
  <label>
  <p >Please make sure that all the fields above are completed before clicking on the <strong>"CONFIRM DiSTRUCTION "</strong>   button</p>
</label>
</mat-card>

  </form>
</div> 



<div class="table">
  
  
  <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="holder">
        <th style=" background-color: #0c2a4c;color: white; width: 600px;" mat-header-cell *matHeaderCellDef>Holder</th>
          <td mat-cell *matCellDef="let element">{{element.holder}}</td>
          
        </ng-container> 
  
    <ng-container matColumnDef="serial">
      <th style=" background-color: #0c2a4c;color: white; width: 600px;"  mat-header-cell *matHeaderCellDef>Serial</th>
      <td mat-cell *matCellDef="let element">{{element.serial}}</td>
    </ng-container> 
  
    <ng-container matColumnDef="type">
      <th style=" background-color: #0c2a4c;color: white; width: 600px;" mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">{{element.type}}</td>
    </ng-container> 
  
    
  
    <ng-container matColumnDef="model">
      <th style=" background-color: #0c2a4c;color: white; width: 600px;"  mat-header-cell *matHeaderCellDef>Model</th>
      <td mat-cell *matCellDef="let element">{{element.model}}</td>
    </ng-container> 
     
    <ng-container matColumnDef="status">
      <th style=" background-color: #0c2a4c;color: white; width: 600px;" mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">{{element.status}}</td>
    </ng-container> 
  
    <ng-container matColumnDef="queued">
      <th style=" background-color: #0c2a4c;color: white; width: 600px;"  mat-header-cell *matHeaderCellDef>Queued By</th>
      <td mat-cell *matCellDef="let element">{{element.queued}}</td>
    </ng-container> 
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
</table>
  <br>
  
 <div class="button">
  <div style="float: right; margin-right: 0px; margin-top: -30px; width: 160px; height: 30px;">
    <a>
   Export To CSV
    
 </a>
</div>

<div style="float: left; margin-left: 0px; margin-top: -30px; width: 180px; left: 1; ">
 <a>
    Cancel Recovery
  </a>
</div>
</div>
</div>

</div>
    </mat-card>










<app-footer></app-footer>



