<app-header></app-header>
    <nav class="navbar ">
      <div class="container-fluid">
        <h3 style="color: #0c2a4c;">Access Control Management</h3>
      </div>
    </nav>
    <mat-toolbar style="color: rgb(8, 126, 8); background-color:white;">  
      <span><h4>Access Control Lists </h4></span>
    </mat-toolbar>
    <br>
    <table class="table table-bordered"> 
      <thead style="background-color:#ccc; color: black; height: 30px;" >
        <tr>
          <th scope="col">TITLE</th>
          <th scope="col">ACCESS CONTROL</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>Root/ (Select/Mark)</td>
            <td><mat-icon>done</mat-icon>GROUP: Administrators<br>
                <mat-icon>done</mat-icon>GROUP: Supervisors<br>
                <mat-icon>done</mat-icon>GROUP: Users</td>
            <td><mat-icon class="small-icon">create</mat-icon></td>
        </tr>

        <tr>
            <td>Root/ Access Control Management/ Access Control List</td>
            <td><mat-icon>done</mat-icon>GROUP: Administrators<br>
                <mat-icon>done</mat-icon>USER: Tesfaye Chuba<br>
            <td><mat-icon class="small-icon">create</mat-icon></td>
        </tr>

        <tr>
            <td>Root/ (Select/Mark)</td>
            <td><mat-icon>done</mat-icon>GROUP: Administrators<br>
                <mat-icon>done</mat-icon>GROUP: Supervisors<br>
                <mat-icon>done</mat-icon>GROUP: Users</td>
            <td><mat-icon class="small-icon">create</mat-icon></td>
        </tr>

        <tr>
            <td>Root/ Access Control Management/ Access Logs</td>
            <td><mat-icon>done</mat-icon>GROUP: Administrators<br>
                <mat-icon>done</mat-icon>USER: Jean Claude<br>
                <mat-icon>done</mat-icon>USER: Tesfaye Chufa</td>
            <td><mat-icon class="small-icon">create</mat-icon></td>
        </tr>

        <tr>
            <td>Root/ Access Control Management/ System User Accounts</td>
            <td><mat-icon>done</mat-icon>GROUP: Administrators<br>
            <td><mat-icon class="small-icon">create</mat-icon></td>
        </tr>

        <tr>
            <td>Root/ Dash Board</td>
            <td><mat-icon>done</mat-icon>GROUP: Administrators<br>
                <mat-icon>done</mat-icon>GROUP: Supervisors<br>
                <mat-icon>done</mat-icon>GROUP: Users<br>
                <mat-icon>done</mat-icon>USER: Teshale Duketo<br>
                <mat-icon>done</mat-icon>USER: Yidnekachew Megersa</td>
            <td><mat-icon class="small-icon">create</mat-icon></td>
        </tr>

        <tr>
            <td>Root/ Dash Board/ Dashboard/Firearm Add</td>
            <td><mat-icon>done</mat-icon>DEPT: Main Department<br>
                <mat-icon>done</mat-icon>GROUP: Supervisors<br>
                <mat-icon>done</mat-icon>GROUP: Users<br>
                <mat-icon>done</mat-icon>USER: Almaz Endale<br>
                <mat-icon>done</mat-icon>USER: Gemechis Daba<br>
                <mat-icon>done</mat-icon>USER: Mulugeta Belayneh</td>
            <td><mat-icon class="small-icon">create</mat-icon></td>
        </tr>
      </tbody>
    </table>
