<div class="modal">
    <div class="modal-content">
        <div class="chat-container"> 
  


            <div class="chat-header">
              <h2>Ethiopian Federal Police</h2>
            </div>    


             
            <div class="chat-messages">
              <div class="message received">
                <div class="avatar">
                  <img src="assets/man.jpg" alt="User 1">
                </div>
                <div class="message-content">
                  <p>Hello there!</p>
                </div>
              </div>
              <div class="message sent">
                <div class="message-content">
                  <p>Hi! How can I help you?</p>
                </div>
                <div class="avatar">
                  <img src="assets/woman.jpg" alt="User 2">
                </div>
              </div>
              <!-- Add more messages here -->
            </div>
            <div class="chat-input">
              <input type="text" placeholder="Type your message...">
              <button (click)="sendMessage()"><mat-icon class="mat-18">send</mat-icon></button>
            </div>
          </div>
    </div>
</div>


  