<div class="modal">
  <div class="modal-content">
       


<div class="loss-box">
  <form>
    <div>
      <h2 style="color:  #0c2a4c">Firearm Loss Report</h2>
      <p style="color: #414345;"> To confirm the loss of firearms listed alongside,Kindly fill all the information in this form.When satisfied,that all the details are correct ,click on the <strong>"CONFIRM LOSS" </strong>button below</p>
      <hr>
    </div>
    <div class="user-box">
      <input type="text" name="" required="">

      <label>Reported By:</label>
    </div>
    <div class="user-box">
      <br>
      <br>
      <input type="date" name="" required="" value="">
      <label>Reported On:</label>
    </div>
<div class="user-box">
  <input type="text" name="" required="" value="">
  <label>Comment:</label>
  </div>
  <br>
  <br>
  <label>
  <p>Issued/Transfered By:-&nbsp;&nbsp; <strong>System Administrator</strong> </p>
</label>
    
      
      <button mat-raised-button style="margin-left: 440px;">confirm</button>
    
    <br>
    <br>
   
<mat-card style="height:50px;background-color: rgb(226, 226, 142);">
  <label>
  <p >Please make sure that all the fields above are completed before clicking on the <strong>"CONFIRM LOST"</strong>   button</p>
</label>
</mat-card>
  </form>
</div>



















  </div>
</div>