<app-header></app-header>
<div class="navigation">
    <button>
        <a href="/register">Application Setting</a>
    </button>

<button>
    <a href="/loss">Organization</a>
</button>


<button>
    <a href="/recovery">Administrative Regions</a>
</button>

<button>
    <a href="/distruction">Stations & Bases</a>
</button>

<button>
    <a href="/distruction">Departments</a>
</button>

<button>
    <a href="/distruction">Units</a>
</button>

<button>
    <a href="/distruction">Arms Stores</a>
</button>


</div>



