<app-header></app-header>
<mat-card>
    <mat-card-content>PLEASE NOTE: All Fields are Required</mat-card-content>
</mat-card>
  

<div class="container">
    <div class="content">
        <div class="div">
            <p style="font-weight: bold;">Username</p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p >inspector x</p>
        </div>

     <br><br>

          <mat-label><span style="color: orangered;">*</span>Current Password</mat-label>
          <input matInput placeholder="" value="" class="hover-border"><br>
            <br>
            <br>
          <mat-label><span style="color: orangered;">*</span>New Password</mat-label>
         &nbsp; &nbsp; <input matInput placeholder="" value="" class="hover-border"> 
                <br>
                <br>
                <mat-label><span style="color: orangered;">*</span>Confirm Password</mat-label>
                <input matInput placeholder="" value="" class="hover-border"> 
               <br>
 <button mat-button>Save Change</button>

</div> 

</div>
    