<app-banner></app-banner>
<mat-toolbar
  ><button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span >Firearm Management System</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <!-- Side Navigation (App Header) -->
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <app-header></app-header>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Your dashboard content here -->
    <!-- Include the main content of your dashboard -->
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="20px"
      class="cards"
      style="margin: 40px 40px 40px 40px"
    >    
      <mat-card fxFlex="25" class="card1" style="height: 130px">
        <div class="text">
          <p style="font-size: 2em; font-weight: 900">{{ totalFirearms }}</p>
          <p style="font-size: 12px">TOTAL FIREARMS</p>
        </div>
      </mat-card>

      <mat-card fxFlex="25" class="card4" style="height: 130px">
        <div class="text">
          <P style="font-size: 2em; font-weight: 900">{{ totalMarked }}</P>
          <P style="font-size: 12px">MARKED FIREARMS</P>
        </div>
      </mat-card>

      <mat-card fxFlex="25" class="card5" style="height: 130px">
        <div class="text">
          <P style="font-size: 2em; font-weight: 900">{{ totalLost }}</P>
          <P style="font-size: 12px">LOST FIREARMS</P><P> </P>
        </div>
      </mat-card>

      <mat-card fxFlex="25" class="card3" style="height: 130px">
        <div class="text">
          <P style="font-size: 2em; font-weight: 900">{{ totalDestroyed }}</P>
          <P style="font-size: 12px">DESTROYED FIREARMS</P>
        </div>
      </mat-card>
    </div>

    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="10px"
      class="stats-cards"
      style="margin-left: 30px"
    >     
    <br> 
    <br>
      <div fxFlex="100">
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile><app-widget-bar></app-widget-bar></mat-grid-tile>
          <mat-grid-tile><app-widget-bar-weekly></app-widget-bar-weekly></mat-grid-tile>
          <mat-grid-tile><app-widget-bar-monthly></app-widget-bar-monthly></mat-grid-tile>
          <mat-grid-tile><app-widget-bar-yearly></app-widget-bar-yearly></mat-grid-tile>
        </mat-grid-list>
        
      </div> 
    </div>

      <!-- <div
        fxFlex=""
        style="
          background: linear-gradient(#0c2a4a6a, #16844d5f, 1565c05f, 1565c05f);
          opacity: 1;
          border-radius: 10px;
        "
      >
        <mat-card class="row glass-card">
        
          <div style="margin-top: 5px; cursor: pointer" routerLink="/map">
            <h2
              style="
                margin-left: 10px;
                font-size: 1.2em;
                font-weight: 500;
                color: #414141;
              "
            >
              <mat-icon
                class="mat-18"
                style="margin-bottom: -4px; color: #414141"
                >location_on</mat-icon
              >Map
            </h2>
            <h5 style="margin-top: -17px; margin-left: 10px; color: #414141">
              Track the Location of Firearm in a given region
            </h5>
          </div>
        </mat-card>

        <mat-card class="row glass-card">
        
          <div style="margin-top: 5px; cursor: pointer" (click)="Openchat()">
            <h2
              style="
                margin-left: 10px;
                font-size: 1.4em;
                font-weight: 500;
                color: #414141;
              "
            >
              <mat-icon
                class="mat-18"
                style="margin-bottom: -4px; color: #414141"
                >chat</mat-icon
              >Contact The Admin
            </h2>
            <h5 style="margin-top: -17px; margin-left: 10px; color: #292626">
              Send a message to the admin by using chatbot
            </h5>
          </div>
        </mat-card>

        <mat-card class="row glass-card">
           Card content goes here 
          <div style="margin-top: 5px; cursor: pointer" routerLink="/MenuCards">
            <h2
              style="
                margin-left: 10px;
                font-size: 1.4em;
                font-weight: 500;
                color: #414141;
              "
            >
              <mat-icon
                class="mat-18"
                style="margin-bottom: -4px; color: #414141"
                >receipt</mat-icon
              >Re-License
            </h2>
            <h5 style="margin-top: -17px; margin-left: 10px; color: #414141">
              license is lost re-generate the license again
            </h5>
          </div>
        </mat-card>

        <mat-card class="row glass-card">
       
          <div
            style="margin-top: 5px; cursor: pointer"
            routerLink="/visualization"
          >
            <h2
              style="
                margin-left: 10px;
                font-size: 1.4em;
                font-weight: 500;
                color: #111;
              "
            >
              <mat-icon
                class="mat-18"
                style="margin-bottom: -4px; color: #414141"
                >pie_chart</mat-icon
              >Report & Visualisation
            </h2>
            <h5 style="margin-top: -17px; margin-left: 10px; color: #414141">
              Display the report and visualization of firearm action performed
              in the system
            </h5>
          </div>
        </mat-card>
      </div> -->
    
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="20px"
      class="stats-cards"
      style="margin: 40px 40px 40px 40px"
    >
      <div fxFlex="40">
        <app-widget-pie></app-widget-pie>
      </div>

      <div fxFlex="40">
        <app-widget-pie-a></app-widget-pie-a>
      </div>

      <div fxFlex="40">
        <app-widget-pie-b></app-widget-pie-b>
      </div>
    </div>

    <!--Tables Part-->

    <div class="Tables">
      <!--Login Table-->
      <div class="tableA">
        <h4>Login History</h4>
        <app-widget-table-a></app-widget-table-a>
      </div>
      <!--Recent table-->

      <div class="tableB">
        <h4>Recent Operations</h4>
        <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <mat-header-cell *matHeaderCellDef> DATE </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.position }}
              </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> TIME</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.name }}
              </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <mat-header-cell *matHeaderCellDef> DATABASE </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.weight }}
              </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <mat-header-cell *matHeaderCellDef> OPERATION </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.symbol }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="symbolL">
              <mat-header-cell *matHeaderCellDef> COMMENT</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.symbol }}
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>
      </div>
    </div>

    <app-chat *ngIf="showchat"></app-chat>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>