

P{
text-align: right;
justify-content: center;
}

.text {
    margin-top: 40px;
    margin-right: 30px;
}

.Tables {
    display: flex;

}


h4{
    color: rgba(12,42,76,1);
    font-weight: bolder;
}
.cards {
    position: relative;
}
  .card1{ 
    background-color: #f1f1f1;
   font-weight: 900;
   color: #0c2a4c;
  } 
  .card2{ 
    background-color: #f1f1f1;
   font-weight: 900;
   color: #b69538;
  } 
  .card3{ 
    background-color: #f1f1f1;
    font-weight: 900;
    color: white;
  } 
  .card4{ 
    background-color: #f1f1f1;
    font-weight: 900;
    color: white;
  } 
  .card5{ 
    background-color: #f1f1f1;
    font-weight: 900;
    color: white;
  } 
  
  .table-container {
    border-radius: 10px;
    box-shadow: 1px 2px 2px;
  }

  .card1 {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;

  }
  
  .card1:hover {
    transform: scale(1.1);
  }

  .card2{
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;

  }
  
  .card2:hover {
    transform: scale(1.1);
  } 


  .card3 {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
  
  }
  
  .card3:hover {
    transform: scale(1.1);
  } 

  .card4 {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;

  }
  
  .card4:hover {
    transform: scale(1.1);
  }

  .card5 {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;

  }
  
  .card5:hover {
    transform: scale(1.1);
  } 
  .tableB{
    margin-left: 350px;
    float: right;
    width: 50%;
    right: 0;
    margin-right: 40px;
  } 
  .tableA{
    margin-left: 40px;
  }  

  .tableB mat-header-cell{
    background-color: #0c2a4c;
    color: #dcc380;
  }  
  
.row1, .row2, .row3 {
  display: inline-flex;
  gap: 10px;
  
}
.row2 {
  margin-top: 6px;
} 
.row3 {
  margin-top: 10px;
}
