<mat-toolbar>
  <div class="container">
    <div class="title">
      <p>Ethiopian Federal Police</p>
      <p>Small Arms / Light Weapons Tracing System V.0.0</p>
    </div>
  </div>
  <div class="toolbar-right">
    <!-- Vertical line separator -->
    <p class="date">{{ currentDateTime | date : "mediumDate" }}</p>
    <div class="separator"></div>
    <p
      class="profile-image"
      (click)="openProfileDialog()"
      matTooltip="User Profile"
    >
      {{ fullName }}
    </p> 
    <div class="separator"></div>
  
      <a  class="logout" matTooltip="sign out" (click)="logout()">Log out</a>
    <!-- <img  src="assets/man.jpg" alt="Profile" class="profile-image" (click)="openProfileDialog()" matTooltip="User Profile"> -->
  </div>
</mat-toolbar>
