.sidebar {
    width: 250px;
    height: 100%;
    background-color: rgb(248, 248, 248);
    display: inline-block; 
    box-shadow: 0 0 0px #ffffff,
    0 0 10px #dddedf,
    0 0 5px #ffffff,
    0 0 5px #ffffff; 
    margin-right: 10px;
} 
.openbtn {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  


.nav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer; 
    margin-top: 5px; 
    font-size: 15px;
} 
a{
    text-decoration: none;
    color: #0c2a4c;
}  
a:hover{
    text-decoration-line: underline;
    text-decoration-color: #dcc380;
    color: #030c16;
} 
a:active{
    text-decoration-line: underline;
}
 .nav:hover{

   
    transform-style: flat;
} 
.nav{
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;

}
