<mat-card style="height: 1500px; width: 99%; background-color: #ffffff; margin: 15px 9px 10px 9px; border-radius: 20px;padding-left: 20px;">
  <div id="section">
  <div>
    <br>
    <div style="text-align: center;">
        <p style="font-weight: bold; font-size: 20px; color: #0c2a4c;">
            የኢትዮጵያ ፌዴራል ፖሊስ ኮሚሽን ለግልና መንግስት ድርጅቶች/ ተቋማት
            <button printTitle="PDF printout" class="print-button" (click)="printThisPage()" > <mat-icon>print</mat-icon></button>
               
            <br>
            የሚሰጥ የጦር መሳሪያ ባለቤትነት ፍቃድ ወረቀት
            
        </p>
        <br>
        <p style="font-weight: bold; font-size: 20px; color: #0c2a4c;">
          Ethiopia Federal Police commission firearms possesive right license
        </p>
    </div>
    
</div>
<br>
<br>
<br>
<div>
  <div class="input-one">
    <p>የድርጅት  ስም   : - 
    <input type="text" class="bottom-line-input-one"> </p>
    <p>Name of Organization/Institution</p>
  </div>
<br>
<div class="input-one">
  <p>የተሰማራበት ዘርፍ:- 
  <input type="text" class="bottom-line-input-one"> </p>
  <p> Working sector</p>
</div>

<br>
<div class="input-one">
  <p>የስራ አስኪያጅ ስም:- 
  <input type="text" class="bottom-line-input-one"> </p>
  <p> Manager Name</p>
</div>
<div class="input-two">
  አድራሻ:-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  ክልል:- 
  <input type="text" class="bottom-line-input-two">
  ዞን/ ክ/ከተማ:- 
  <input type="text" class="bottom-line-input-two">
  ወረዳ:- 
  <input type="text" class="bottom-line-input-two">
  ቀበሌ:- 
  <input type="text" class="bottom-line-input-two">
 
</div>
<br>
Address &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
State&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;
Zone/SubCity&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
District&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Kebele
<br>
<br>
<div class="input-one">
  <p>የካፒታሉ መጠን:- 
  <input type="text" class="bottom-line-input-one"> </p>
  <p> Size of capital </p>
</div>
<br>
<div class="input-three">
  <p>ግብር ከፋይነት መለያ ቁጥር:- 
  <input type="text" class="bottom-line-input-three"> </p>
  <p>Tin-number</p>
</div>
<br>
<div class="input-one">
  <p>የተሰጠበት ቀን : - 
  <input type="text" class="bottom-line-input-one"> </p>
  <p>Issued date</p>
</div>
<br>
<div class="input-one">
  <p>የሚያበቃበት ጊዜ:- 
  <input type="text" class="bottom-line-input-one"> </p>
  <p>Expiry date</p>
</div>
<br>
<div class="input-four">
  <p>የጦር  መሣሪያ  ብዛት  : - 
  <input type="text" class="bottom-line-input-four"> </p>
  <p>Number of Firearm</p>
</div>
<br>
<div class="input-one">
  <p>የጥይት ብዛት:- 
  <input type="text" class="bottom-line-input-one"> </p>
  <p>Number of bullet</p>
</div>
    
   
  
 
<br>
<br>
<br>
<p style="font-weight: bold;">
    የያዥው ፊርማ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ክብ ማህተብ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 ኃላፊ ስም፣ፊርማ እና ቀን
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p style="font-weight: bold; font-size: 17px;">
ማሳሰቢያ:-ለድርጅቱ/ለተቋሙ የተፈቀደው መሳሪያ ዝርዝር በልዩ ሠነድ ተዘጋጅቶ ሲጠየቅ ማቅረብ ይጠየቅበታል::
</p>
</div>


</div>


</mat-card>