<app-header></app-header>
              <br>
        <h2 style="color: #6c6c6c; margin-left: 30px;"> Backup & Restore </h2>
      
     <br>
    <div class="btn" >
      <button mat-button type="button"> <mat-icon>add</mat-icon>
        Create New Backup
         
     </button>
    </div> 
    <br>
    <br>
      <br>
      <br> 

<!-- <mat-paginator [length]="10"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25]"
              aria-label="Select page">
</mat-paginator> -->

<table class="table table-bordered"> 
    <thead>
      <tr>
        <th scope="col">FILENAME</th>
        <th scope="col">SIZE</th>
        <th scope="col">CREATED</th>
        <th scope="col">LAST MODIFIED</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td style="color: rgb(54, 112, 200);">BACKUP-2023-02-12-12-55-66-SSWW.ZIP</td>
      <td>44,390,34 KB</td>
      <td>2023-02-12 23:55h</td>
      <td>2023-02-12 23:55h</td>
      <td style="color: rgb(54, 112, 200);">Download | <span style="color: rgb(207, 95, 95);">Delete</span></td>
  
      
    </tr>
    <tr>
      <td style="color: rgb(54, 112, 200);">BACKUP-2023-02-12-12-55-66-SSWW.ZIP</td>
      <td>44,390,34 KB</td>
      <td>2023-02-12 23:55h</td>
      <td>2023-02-12 23:55h</td>
      <td style="color: rgb(54, 112, 200);">Download | <span style="color: rgb(207, 95, 95);">Delete</span></td>
      
      </tr>
     
      <tr>
        <td style="color: rgb(54, 112, 200);">BACKUP-2023-02-12-12-55-66-SSWW.ZIP</td>
        <td>44,390,34 KB</td>
        <td>2023-02-12 23:55h</td>
        <td>2023-02-12 23:55h</td>
        <td style="color: rgb(54, 112, 200);">Download | <span style="color: rgb(207, 95, 95);">Delete</span></td>
        
      </tr>
   
    </tbody>
</table>


