<app-header></app-header>
<mat-card>
    <mat-card-content>PLEASE NOTE: All Fields are Required</mat-card-content>
</mat-card>
  

<div class="container">
    <div class="content">
        
            <p style="font-weight: bold;">Your Name </p> 
           
            <p style="font-weight: bold;">Username</p> 
            
        

     <br><br>

          <mat-label><span style="color: orangered;">*</span>Email</mat-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input matInput placeholder="" value="" class="hover-border" type="email">
            <br>
            <br>
          <mat-label><span style="color: orangered;">*</span>Telephone</mat-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp; &nbsp; <input matInput placeholder="" value="" class="hover-border" type="telephone"> 
                <br>
                <br>
                <mat-label><span style="color: orangered;">*</span>Telephone Extension</mat-label>
                <input matInput placeholder="" value="" class="hover-border" type="number"> 
               <br>
               <br>
               <mat-label><span style="color: orangered;">*</span>Mobile Number</mat-label>&nbsp;&nbsp;
               &nbsp; &nbsp; &nbsp; &nbsp;<input matInput placeholder="" value="" class="hover-border" type="telephone"> 
              <br>
              <br>
              <mat-label><span style="color: orangered;">*</span>Address</mat-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<textarea name="" id="" cols="40" rows="3"></textarea> 
             <br>
             <br>
             
             <mat-label><span style="color: orangered;">*</span>Town</mat-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input matInput placeholder="" value="Adiss Ababa" class="hover-border"> 
            <br> 
























                <button mat-button>Save Change</button>

</div> 

</div>
    