<app-banner></app-banner>
<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Firearm Management System</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <!-- Side Navigation (App Header) -->
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <app-header></app-header>
  </mat-sidenav>

  <mat-sidenav-content>
    <br />
    <br />
    <br />

    <mat-tab-group>
      <mat-tab label="Withdraw">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Officer </mat-panel-title>
              <mat-panel-description>
                Officer Description
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Officer Table will goes here!</p>

            <mat-table [dataSource]="dataSource">
              <!-- Define your table columns here -->
              <ng-container style="height: 1px" matColumnDef="REF#">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  style="background-color: #f1f1f1"
                >
                  REF#
                </th>

                <td *matCellDef="let element">
                  {{ element["REF#"] }} <span>#REF</span> {{ element.id }}
                </td>
              </ng-container>

              <ng-container matColumnDef="NAME">
                <div>
                  <th
                    style="background-color: #f1f1f1"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    NAME
                  </th>
                </div>
                <td mat-cell *matCellDef="let element">
                  {{ element.NAME }}
                  <span style="font-weight: bold"> {{ element.fullName }}</span>
                  <br />
                  {{ element.fpId }} <br />
                  {{ element.title }} <br />
                  {{ element.phoneNumber }} <br />
                  {{ element.position }}
                </td>
              </ng-container>

              <ng-container matColumnDef="FIREARM">
                <th
                  style="background-color: #f1f1f1"
                  mat-header-cell
                  *matHeaderCellDef
                >
                  FIREARM
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.FIREARM }} {{ element.firearmType }}
                  {{ element.firearmModel }} <br />
                  <span> </span> {{ element.firearmCalibre }} <br />
                  <span> </span> {{ element.firearmMechanism }} <br />
                  <span> </span> {{ element.manufacturerSerial }} <br />
                  <span> </span> {{ element.magazineCapacity }} <br />
                  <span> </span> {{ element.yearManufacture }}
                </td>
              </ng-container>

              <ng-container matColumnDef="WHO REGISTERD THE FIREARM">
                <th
                  style="background-color: #f1f1f1"
                  mat-header-cell
                  *matHeaderCellDef
                >
                  WHO REGISTERED THE FIREARM
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element["WHO REGISTERD THE FIREARM"] }}
                  {{ element.registeredFullName }} <br />
                  {{ element.registeredTitle }} <br />{{
                    element.registeredPosition
                  }}
                  <br />
                  {{ element.registeredEmail }} <br />
                  {{ element.registeredSignature }} <br />
                  {{ element.registeredDate }}
                </td>
              </ng-container>

              <ng-container matColumnDef="REGISTERED BODY">
                <th
                  style="background-color: #f1f1f1"
                  mat-header-cell
                  *matHeaderCellDef
                >
                  REGISTERED BODY
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element["REGISTERED BODY"] }}
                  {{ element.registeredBodyFullName }} <br />
                  {{ element.registeredBodyResponsibility }} <br />
                  {{ element.registeredBodySignature }} <br />
                  {{ element.registeredBodyDate }}
                </td>
              </ng-container>

              <ng-container matColumnDef="ACTION">
                <th
                  style="background-color: #f1f1f1"
                  mat-header-cell
                  *matHeaderCellDef
                >
                  ACTION
                </th>
                <td *matCellDef="let element">
                  {{ element.ACTION }} <button mat-button>Confirm</button>
                  <br />
                  <button mat-button>Cancel</button>
                </td>
              </ng-container>

              <!-- Define more columns similarly -->

              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns"
                style="height: auto"
              ></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </mat-table>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Civillian </mat-panel-title>
              <mat-panel-description>
                Civillian Description
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Civillian table will goes here!</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Personal and Govermental Organisation
              </mat-panel-title>
              <mat-panel-description>
                Personal and Govermental Organisation Description!
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Personal and Govermental Organisation Table goes here !</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> International and Foreign </mat-panel-title>
              <mat-panel-description>
                International and Foreign Description
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>International and Foreign Table goes here!</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Holiday and Hunt </mat-panel-title>
              <mat-panel-description>
                Holiday and Hunt Description
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Holiday and Hunt Table goes here</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
      <mat-tab label="Loss"> </mat-tab>
      <mat-tab label="Distruction"> </mat-tab>
      <mat-tab label="Recovery"> </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>
