<form action="">
<div class="form-group">
    <label for="full-name">Telephone</label> 
    <input type="text" id="Job" >
  </div>    
  
      <div class="form-group">
    <label for="full-name">Extension</label> 
    <input type="text" id="Jobtype" >
  </div>  

  <div class="form-group">
    <label for="full-name">Mobile</label> 
    <input type="text" id="Mobile" >
  </div>  

  <div class="form-group">
    <label for="full-name">Email</label> 
    <input type="email" id="Email" >
  </div> 

  <div class="form-group">
    <label for="full-name">Address</label> 
    <input type="text" id="Address" >
  </div> 

  <div class="form-group">
    <label for="full-name">Town</label> 
    <input type="text" id="Town" >
  </div> 

  <div class="form-group">
    <label for="full-name">Country</label> 
    <input type="text" id="Country" >
  </div> 
</form>