/* You can add global styles to this file, and also import other style files */


html, body { 
 height: 100%; 
 width: 100%;
 font-size: smaller;
}
body { 
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    margin: 0; 
    font-size: x-small;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
