/* You can add global styles to this file, and also import other style files */


html, body { 
 height: 100%; 
 width: 100%;
 font-size: smaller; 

} 

body { 

    font-size: 120px;
    margin: 0; 
    font-size: x-small; 
}

html, body { height: 100%; } 
