   <app-header></app-header>
<div class="ag-format-container">
    <div class="ag-courses_box">
      
      <div class="ag-courses_item">
        <a href="/id" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
          License For Personal
          </div>
  

        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="/license" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            License For Organization 
          </div>
  
          
        </a>
      </div>
  
     
    </div>
  </div>