
.transfer-box {
    position: absolute;
    top:55%;
    left: 72%;
    width: 600px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: white;
    box-sizing: border-box;
    box-shadow: 0 8px 8px rgba(185, 185, 187, 0.6);
    border-radius: 10px;
  }
  
  
  .transfer-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .transfer-box .user-box {
    position: relative;
  }
  
  .transfer-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color:  #0c2a4c;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .transfer-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #0c2a4c;
    pointer-events: none;
    transition: .5s;
  }
  
  .transfer-box .user-box input:focus ~ label,
  .transfer-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color:  #0c2a4c;
    font-size: 12px;
  }
  
  .transfer-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #dcc380;
    
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 1px;
    margin-left: 400px;
    letter-spacing: 4px
  }
  
  .transfer-box a:hover {
    background: #0c2a4c;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 1px #0c2a4c,
  }         
  
  .transfer-box a span {
    position: absolute;
    display: block;
  }
  
  
  
  
  .table{
    width: 40px;
    margin-left:10px;
    margin-top: 1%;
    
    
    }
  
  
    th {
   
      text-align: left;
      border: 1px solid #dddddd;
     
      color: #0c2a4c;
      font-size:medium ;
      
  
     
    }
    td{
  
      border: 1px solid #dddddd;
      color: #0c2a4c;
      width: 300px;
    
      
      
    }
    .user-table-cell{
      background-color:  #0c2a4c;
     
      
    }
    .button{
      width: 80px;
    }
     
      .button a{
        position: relative;
        display: inline-block;
        color: #0c2a4c;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        background: #f5f5f5;
        padding: 5px 10px ;
        transition: .10s;
      }
      .button a:hover{
        background: #0c2a4c;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0px   #0c2a4c,
                0 0 5px #0c2a4c,
                0 0 5px #0c2a4c,
                0 0 5px #0c2a4c;
  
      }
  
     